
@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>@Model.Name's Clients</h2>
<hr />

<ol>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients have been added yet!</p>
}

@foreach (Client client in @Model.Clients)
{
  <li> @client.Name
    <p>@Html.ActionLink($"delete", "Delete", "Clients", new { id = client.ClientId }) </p> 
    <p>@Html.ActionLink($"edit", "Edit", "Client", new { id = client.ClientId }) </p> 
  </li>
}
</ol>

<p>@Html.ActionLink("Add a new client", "Create", "Clients")</p>

<p>@Html.ActionLink("Back to stylists", "Index")</p>
