
@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>@Model.Name's Clients</h2>
<hr />

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients have been added yet!</p>
}

@foreach (Client client in @Model.Clients)
{
  <li>Client: @client.Name </li>
}
</ul>

<p>@Html.ActionLink("Add a new client", "Create", "Clients")</p>

<p>@Html.ActionLink("Back to stylists", "Index")</p>
