@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients</h1>

@if (@Model.Count == 0)
{
  <h3>No clients have been added yet!</h3>
} 


<div class="row" >       
  @foreach (Client client in Model)
  {
    <div class="col col-md-3">
      <div class="card border-success mb-3" style="max-width: 10rem; ; margin: 1rem auto;">
        <div class="card-header" style="height:4rem" >
          <h4>@client.Name</h4>
        </div>  
        <div class="card-body">
          <h5 class="card-title">Stylist: </h5>
          <p class="card-text"> @Html.ActionLink($"{client.Stylist.Name}", "Details", "Stylists", new { id = client.Stylist.StylistId })</p>
        </div>  
      </div> 
    </div>
  }
</div>

<p>@Html.ActionLink("Add new client", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>


